@media(max-width: 1281px) {
  body {
    font-size: 14px;
  }

  .header {
    &__top-wrapper {
      height: 140px;
    }

    &__nav-list {
      margin-right: 60px;
    }

    &__contacts-phone {
      font-size: 32px;
    }

    &__slider-dscr {
      font-size: 24px;
    }

    &__slider-title {
      font-size: 64px;
      line-height: 82px;
    }
  }

  .types {
    padding-bottom: 100px;

    &__cards-inner__dscr {
      transform: translateY(-120%);
    }

    &__cards-dscr {
      font-size: 14px;
      line-height: 18px;
      padding: 20px 10px;
    }

    &__cards-dscr__btn {
      transform: translateY(-150%);
    }
  }
}

@media(max-width:1001px) {

  .header {
    &__top-wrapper {
      height: 100px;
    }

    &__market-img {
      width: 80px;
      height: 24px;
    }

    &__nav-list {
      margin-right: 45px;
    }

    &__contacts-phone {
      font-size: 24px;
    }

    &__slider-title {
      font-size: 48px;
      line-height: 61px;
    }

  }

  .types {
    &__cards-inner__dscr {
      display: none;
    }
  }

  .cars {
    padding: 60px 0;

    &__slider-navigation {
      display: none;
    }
  }
}

@media(max-width: 769px) {
  .header {
    &__top-wrapper {
      height: 80px;
    }

    &__logo-wrapper {
      display: flex;
      justify-content: start;
    }

    &__nav-burger {
      display: block;
      transition: all .3s;
      transform: translateY(300%);
    }

    &__burger {
      display: block;
    }

    &__burger-img {
      padding: 15px;
    }

    &__logo-link {
      display: block;
      width: 150px;
    }

    &__nav-social {
      justify-content: end;
      margin-bottom: 8px;
    }

    &__nav-list {
      display: none;
    }

    &__contacts {
      padding-top: 8px;
    }

    &__contacts-phone {
      font-size: 22px;
    }

    &__market {
      display: none;
    }

  }

  .types {
    &__cards-inner {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 25px;
    }

    &__cards-item {
      width: 430px;
      height: 260px;
      margin-bottom: 24px;
    }
  }


}

@media(max-width:420px) {
  .header {
    &__top-wrapper {
      height: 64px;
    }

    &__contacts-phone {
      font-size: 15px;
    }

    &__burger-img {
      padding: 12px;
    }

    &__slider-wrapper {
      padding-top: 60px;
    }

    &__slider-dscr {
      font-size: 18px;
      line-height: 20px;
    }

    &__slider-title {
      font-size: 26px;
      line-height: 33px;
      margin-bottom: 25px;
    }

    &__slider-item {
      width: 350px;
      height: 210px;
    }

  }

  .types {
    padding: 40px 0 60px;

    &__cards-item {
      width: 320px;
      height: 212px;
      margin-bottom: 11px;
    }

    &__cards-dscr__btn {
      font-size: 14px;
    }

  }

  .dscr {
    font-size: 16px;
    line-height: 18px;
  }

  .title {
    font-size: 24px;
    line-height: 30px;
  }
}

@media(max-width:340px) {
  .header {
    &__slider {
      transform: translateY(20%);
    }
  }
}