@media(max-width: 1281px) {
  body {
    font-size: 14px;
  }

  .header {
    &__top-wrapper {
      height: 140px;
    }

    &__nav-list {
      margin-right: 60px;
    }

    &__contacts-phone {
      font-size: 32px;
    }

    &__slider-dscr {
      font-size: 24px;
    }

    &__slider-title {
      font-size: 64px;
      line-height: 82px;
    }
  }
}

@media(max-width:1001px) {

  .header {
    &__top-wrapper {
      height: 100px;
    }

    &__market-img {
      width: 80px;
      height: 24px;
    }

    &__nav-list {
      margin-right: 45px;
    }

    &__contacts-phone {
      font-size: 24px;
    }

    &__slider-title {
      font-size: 48px;
      line-height: 61px;
    }

  }
}

@media(max-width: 769px) {
  .header {
    &__top-wrapper {
      height: 80px;
    }

    &__logo-wrapper {
      display: flex;
      justify-content: start;
    }

    &__nav-burger {
      display: block;
      transition: all .3s;
      transform: translateY(300%);
    }

    &__burger {
      display: block;
    }

    &__burger-img {
      padding: 15px;
    }

    &__logo-link {
      display: block;
      width: 150px;
    }

    &__nav-social {
      justify-content: end;
      margin-bottom: 8px;
    }

    &__nav-list {
      display: none;
    }

    &__contacts {
      padding-top: 8px;
    }

    &__contacts-phone {
      font-size: 22px;
    }

    &__market {
      display: none;
    }
  }

  @media(max-width:420px) {
    .header {
      &__top-wrapper {
        height: 64px;
      }

      &__contacts-phone {
        font-size: 15px;
      }

      &__burger-img {
        padding: 12px;
      }

      &__slider-wrapper {
        padding-top: 60px;
      }

      &__slider-dscr {
        font-size: 18px;
        line-height: 20px;
      }

      &__slider-title {
        font-size: 26px;
        line-height: 33px;
        margin-bottom: 25px;
      }

      &__slider-item {
        width: 350px;
        height: 240px;
      }
    }
  }

  @media(max-width:340px) {
    .header {
      &__slider {
        transform: translateY(20%);
      }
    }
  }
}