@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
}

.container {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;

  &__top-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
    background: $bg-color;
    z-index: 100;
  }

  &__burger {
    display: none;
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__nav-social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    margin-right: 147px;
  }

  &__nav {
    display: grid;
    align-items: center;
  }

  &__nav-burger {
    width: 100%;
    height: 100vh;
    background: $bg-burger-menu;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: none;
  }

  &__nav-burger__list {
    text-align: center;
    margin-top: 40px;
  }

  &__nav-burger__item {
    margin-bottom: 20px;
  }

  &__nav-close {
    padding: 50px;
  }

  &__nav-burger__img {
    display: inline-block;
  }

  &__nav-item {
    margin-right: 24px;
  }

  &__nav-item:last-child {
    margin-right: 0;
  }

  &__nav-burger__link,
  &__nav-link {
    color: $text-color;
    transition: all .3s;
  }

  &__nav-link:hover {
    color: $title-color;
  }

  &__social-list {
    display: flex;
    align-items: center;
  }

  &__social-item {
    margin-right: 10px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $text-color;
    padding-top: 14px;
  }

  &__contacts-phone {
    font-weight: bold;
    font-size: 36px;
    color: $title-color;
  }

  &__market {
    display: flex;
  }

  &__market-link {
    margin-right: 22px;
  }

  &__market-link:last-child {
    margin-right: 0;
  }

  &__slider-wrapper {
    padding-top: 150px;
    background-image: url('@img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 100%;
  }

  &__slider-dscr {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    color: $text-color;
    margin: 18px 0;
  }

  &__slider-title {
    font-size: 72px;
    font-weight: 700;
    line-height: 92px;
    color: $title-color;
    margin-bottom: 55px;
  }

  &__arrows-container {
    text-align: center;
  }

  &__arrow-next,
  &__arrow-prev {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all .3s;
  }

  &__arrow-next:active,
  &__arrow-prev:active {
    path {
      fill: #fff;
    }
  }



  &__slider {
    position: relative;
    transform: translateY(50%);
    height: 550px;
  }

  &__slider-item {
    position: absolute;
    width: 450px;
    height: 400px;
    transition: all .6s;
  }
}


.types {
  background: $bg-burger-menu;
  padding: 80px 0 140px;

  &__cards-inner {
    display: flex;
    margin-top: 60px;
  }

  &__cards-item:hover {
    .types__cards-inner__dscr {
      opacity: 1;
    }
  }

  &__cards-inner__dscr {
    height: 100%;
    transform: translateY(-113%);
    transition: all .3s;
    opacity: 0;
  }

  &__cards-dscr__btn {
    display: inline-block;
    width: 222px;
    border: 1px solid $text-color;
    border-radius: 6px;
    padding: 10px 0;
    transform: translateY(-200%);
    transition: all .3s;
  }

  &__cards-dscr__btn:hover {
    background: $title-color
  }

}


.cars {
  background: $bg-color;
  padding: 140px 0;

  &__wrapper {
    position: relative;
  }

  &__modal {
    display: flex;
    justify-content: center;
    padding: 45px 0;
  }

  &__modal-dscr {
    padding: 0 24px;
    border-right: 1px solid $text-color
  }

  &__modal-dscr:last-child {
    border-right: none;
  }

  &__slider-navigation {
    position: absolute;
    right: 15%;
    top: 20%;
    display: flex;
    user-select: none;
  }

  &__arrow-left,
  &__arrow-right {
    cursor: pointer;
  }

  &__arrow-left {
    margin-right: 20px;
  }

  &__cards-wrapper {
    width: 100%;
    display: flex;
  }

  &__cards-item {
    width: 100%;
  }

  &__cards-img {
    width: 100%;
    transition: all .7s;
  }

  &__cards-btn {
    transition: all .3s
  }

  &__cards-btn:hover {
    background: $title-color
  }
}

.rent {
  background-image: url('@img/bg-rent.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 140px 0;

  &__title {
    margin-bottom: 80px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__tabs-wrapper {
    width: 60%;
    margin-right: 20px;

  }

  &__tabs-item {
    padding-bottom: 15px;
    border-bottom: 1px solid $text-color;
    margin-bottom: 30px;
  }

  &__item-visibility {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__item-title {
    font-weight: 700;
    line-height: 21px;
    color: $text-color;
    text-transform: uppercase;
  }

  &__item-dscr {
    color: $text-color;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    padding-bottom: 10px;
  }

  &__item-dscr:first-child {
    padding-top: 15px;
  }

  &__terms-wrapper {
    height: fit-content;
    border: 1px solid $title-color;
  }

  &__terms-list {
    background: #232731;
  }

  &__terms-item:first-child {
    padding: 43px 102px 42px 55px;
  }

  &__terms-item:last-child {
    padding: 0 102px 43px 55px;
  }

  &__terms-item {
    padding: 0 102px 42px 55px;
  }

  &__terms-item__wrapper {
    display: flex;
  }

  &__terms-item__title {
    font-weight: 700;
    line-height: 21px;
    color: $text-color;
    text-transform: uppercase;
    padding-left: 10px;
    text-transform: uppercase;
  }

  &__terms-item__dscr {
    color: $text-color;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    max-width: 205px;
    padding-left: 35px;
  }
}

.reviews {
  background: $bg-burger-menu;
  padding: 140px 0 70px;

  &__title {
    margin-bottom: 60px;
  }

  &__tabs-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__arrow-left,
  &__arrow-right {
    user-select: none;
    cursor: pointer;
  }

  &__arrow-left {
    margin-right: 30px;
  }

  &__tabs {
    display: flex;
    overflow: hidden;
    padding: 20px 0;
    margin-bottom: 65px;
  }

  &__tabs-card {
    margin-right: 150px;
    display: flex;
    cursor: pointer;
    user-select: none;
  }

  &__card-img {
    width: 58px;
    height: 58px;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__contacts-name {
    font-weight: 700;
    line-height: 21px;
    color: $text-color;
    text-align: left;
    margin-bottom: 8px;
  }

  &__contacts-city {
    font-size: 16px;
    line-height: 25px;
    color: $text-color;
    width: 128px;
    opacity: .8;
  }

  &__content-cards {
    display: flex;
  }

  &__cards-text {
    margin-right: 100px;
  }

  &__text-name {
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    color: $text-color;
    text-align: left;
    margin-bottom: 18px;
  }

  &__text-dscr {
    font-size: 16px;
    line-height: 25px;
    color: $text-color;
    text-align: left;
    opacity: .8;
  }
}

.map {
  width: 100%;
}

.maps {
  background-image: url('@img/map.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;

  &__box {
    position: relative;
    height: 100%;
  }

  &__btn-contact {
    background: inherit;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 30%;
  }

  &__contact {
    padding: 20px 45px;
    position: absolute;
    top: 15%;
    right: 15%;
    background: #232731;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
    display: none;
  }

  &__contact.active {
    display: block;
  }

  &__contact-top {
    display: flex;
    justify-content: space-between;
  }

  &__contact-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: $text-color;
    text-transform: uppercase;
  }

  &__contact-close {
    cursor: pointer;
  }

  &__contact-dscr {
    font-size: 16px;
    line-height: 25px;
    color: $text-color;
    opacity: .7;
  }

  &__contact-adres,
  &__contact-mail {
    font-size: 14px;
    line-height: 16px;
    color: $text-color;
    opacity: .7;
    margin-top: 45px;
    margin-left: 30px;
  }

  &__contact-adres__title,
  &__contact-mail__title {
    font-size: 16px;
    line-height: 19px;
    color: $text-color;
    margin-left: 30px;
    position: relative;
  }

  &__contact-adres__title::after {
    content: '';
    position: absolute;
    background-image: url('@img/icons/location.svg');
    width: 31px;
    height: 30px;
    top: -10px;
    left: -40px;
  }

  &__contact-mail__title::after {
    content: '';
    position: absolute;
    background-image: url('@img/icons/email.svg');
    width: 26px;
    height: 30px;
    top: -10px;
    left: -40px;
  }

  &__contact-bottom {
    margin: 50px 0 40px;
    display: flex;
    justify-content: space-between;
  }

  &__contact-btn {
    width: 222px;
    height: 48px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: $text-color;
    text-transform: uppercase;
    border: 1px solid $text-color;
    border-radius: 6px;
    background: #232731;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin-right: 65px;
  }

  &__contact-tel {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: $text-color;
  }

  &__contact-bottom__dscr {
    font-size: 14px;
    line-height: 17px;
    color: $text-color;
    opacity: .7;
  }

  &__contact-social {
    display: flex;
    justify-content: space-between;
  }

  &__contact-social__title {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    color: $text-color;
  }

  &__bottom-social__block {
    display: flex;
  }

  &__bottom-social__link {
    margin-right: 20px;
  }
}

.form {
  display: none;
  position: fixed;
  background: $bg-color;
  max-width: 450px;
  padding: 40px;
  top: 30%;
  left: 40%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;

  }

  &__top {
    margin-bottom: 30px;
  }

  &__input {
    padding: 10px;
    margin-bottom: 20px;
  }

  &__select {
    margin-bottom: 20px;
    padding: 10px;
    text-transform: uppercase;
  }

  &__btn {
    color: $text-color;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid $text-color;
    border-radius: 6px;
    padding: 10px 0;
    text-transform: uppercase;
    background: inherit;
    cursor: pointer;
    transition: all .3s;
  }

  &__btn:hover {
    background: $title-color;
  }
}


@import 'media';