@import 'reset';
@import 'fonts';
@import 'vars';

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;

  &__top-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
    background: $bg-color;
    z-index: 100;
  }

  &__burger {
    display: none;
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__nav-social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    margin-right: 147px;
  }

  &__nav {
    display: grid;
    align-items: center;
  }

  &__nav-burger {
    width: 100%;
    height: 100vh;
    background: $bg-burger-menu;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: none;
  }

  &__nav-burger__list {
    text-align: center;
    margin-top: 40px;
  }

  &__nav-burger__item {
    margin-bottom: 20px;
  }

  &__nav-close {
    padding: 50px;
  }

  &__nav-burger__img {
    display: inline-block;
  }

  &__nav-item {
    margin-right: 24px;
  }

  &__nav-item:last-child {
    margin-right: 0;
  }

  &__nav-burger__link,
  &__nav-link {
    color: $text-color;
    transition: all .3s;
  }

  &__nav-link:hover {
    color: $title-color;
  }

  &__social-list {
    display: flex;
    align-items: center;
  }

  &__social-item {
    margin-right: 10px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $text-color;
    padding-top: 14px;
  }

  &__contacts-phone {
    font-weight: bold;
    font-size: 36px;
    color: $title-color;
  }

  &__market {
    display: flex;
  }

  &__market-link {
    margin-right: 22px;
  }

  &__market-link:last-child {
    margin-right: 0;
  }

  &__slider-wrapper {
    padding-top: 150px;
    background-image: url('@img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
  }

  &__slider-dscr {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    color: #fff;
    margin: 18px 0;
  }

  &__slider-title {
    font-size: 72px;
    font-weight: 700;
    line-height: 92px;
    color: $title-color;
    margin-bottom: 55px;
  }

  &__arrows-container {
    text-align: center;
  }

  &__arrow-next,
  &__arrow-prev {
    border: none;
    background: transparent;

  }


  &__slider {
    position: relative;
    transform: translateY(50px);
    height: 550px;
  }

  &__slider-item {
    position: absolute;
    width: 450px;
    height: 400px;
    transition: all .6s;
  }
}

@import 'media';